---
layout: compress
---
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/banner/sparshamlogo.jpg" type="image/jpg" alt="Sparsham Logo">
        <title>Sparsham</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
<body>
        
	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" style="color:white !important" href="index.html"><img src="img/banner/sparshamlogo.png" alt="Sparsham Logo">Sparsham</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> 
								<li class="nav-item"><a class="nav-link" href="#about_us">About</a></li> 																
								<li class="nav-item"><a class="nav-link" href="#blog">Blog</a>
								<li class="nav-item"><a class="nav-link" href="#events">Events</a>
								<li class="nav-item"><a class="nav-link" href="#contact">Contact</a>
								<li class="nav-item"><a class="nav-link" href="#contribute">Contribute</a></li>
							</ul>
						</div> 
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->
	
	<!--================ Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="banner_content">
					<p class="upper_text">Be the spark</p>
					<h2>to ignite the future of the world</h2>
					<p>
						We believe education brings awarness and enlightment to the new generation results into a freedom with responsibilities. 
						Extend your hands and join us for developing a new educated and responsible young minds around us.
					</p>
					<a class="primary_btn mr-20" href="#Contribute">Contribute Now</a>
					<a class="primary_btn yellow_btn text-white" href="#features_causes">How we works !</a>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->
	
	<!--================ Start Causes Area =================-->
	<section class="causes_area">
		<div class="container" >
			<div class="main_title" id="focus">
				<h2>Our Major Focus</h2>
				<p>We encourage the students from econmically challenging situations by sponsoring them or arranging facilities like food,study materials, 
dress and transportation to continue and complete their education, from lower primary to higher secondary.</p>
				<p></p>
				
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single_causes">
						<h4>Donation</h4>
						<img src="img/causes/c1.png" alt="">
						<p>
							The donation can be either as a contribution of any amount via bank transfer or sponsor office stationery or personal items. 
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single_causes">
						<h4>Give Inspiration</h4>
						<img src="img/causes/c2.png" alt="">
						<p>
							You can join us on one of our interaction session with children and inspires them by sharing your experience and knowledge.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single_causes">
						<h4>Become Member</h4>
						<img src="img/causes/c3.png" alt="">
						<p>
						   You can join us by submitting an application form and following the rules mentioned in the manifest of Sparsham.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Causes Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap_bottom" >
		<div class="container" id="about_us">
			<div class="row">	
				<div class="single_about row">
					<div class="col-lg-6 col-md-12 text-center about_left">
						<div class="about_thumb">
							<img src="img/sparshamevent.jpg" class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-12 about_right">
						<div class="about_content">
							<h2>
								We are an NGO <br>
									and operates at the Indian State of Kerala
							</h2>
							<p>
									We are a Society Registered under the Travancore – Cochin Literary, Scientific and
							 Charitable Societies Act, 1955. Act XII of 1955. We believes equal oppurtunity and freedom to speak. 
							 All our activites are decided by an executive committee (EC) of the members and the office bearers.The office bearers and EC members are elected during the annual general body meeting (AGM). 
							 All the financial transactions related to Sparsham are accountable and audited on end of every fiscal by an external authorized auditing firm. The annual report which is 
							 available to all members contains all the financial information and activites conducted on the respective year. 
							 </p>							 							 
							<a  style="display:none" href="#" class="primary_btn">Learn more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Start Features Cause section =================-->
	<section class="features_causes">
		<div class="container" id="features_causes">
			<div class="main_title">
				<h2>Why Education is so important ?</h2>
				<p>
					<blockquote>
									 <p>Education is the great engine of personal development. 
										It is through education that the daughter of a peasant can become a doctor, 
										that the son of a mine worker can become the head of the mine, 
										that a child of farm workers can become the president of a great nation. 
										It is what we make out of what we have, not what we are given, that separates one person from another</p>
									<footer><cite title="Source Title">Mandela, N.R.(1994). <a href='https://blog.cambridgeinternational.org/nelson-mandela/'>Long Walk to Freedom</a>.</cite></footer>
					</blockquote>
				</p>				
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/features/schoolKids.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<h4 class="card-title">Facilitate their journey to school</h4>
								<p class="card-text">
									Be part of our vision to reinforce their path to school.
								</p>
								<div class="d-flex justify-content-between raised_goal">
									<p>Kerala Government provides free education in both Malayalam and English medium from lower primary to higher secondary.
									Apart from that schools provides free meals to the children.Encouraging a child to school will help to get a proper meal 
									as well as education. We support all the needs like transportation, dress, books and other fees. In some exceptional cases
									we may support the family requirements after getting approval from EC.</p>									
								</div>
								<div  class="d-flex justify-content-between donation align-items-center" style="display:none !important;">
									<a href="#" class="primary_btn"></a>
									<p><span class="lnr lnr-heart"></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/features/interactiveSession.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<h4 class="card-title">Compassionate Interaction</h4>
								<p class="card-text">
									A day programme to enagage and interact with lonliness people in our society.
								</p>
								<div class="d-flex justify-content-between raised_goal" >
									<p>There a many people around us are living a lonely life in their rooms during their last days or may be some kind of disablities. 
									We often arrange some interactive sessions and have food with them. We tells stories, plays movies.</p>
									 
								</div>
								<div class="d-flex justify-content-between donation align-items-center"  style="display:none !important;">
									<a href="#" class="primary_btn"></a>
									<p><span class="lnr lnr-heart"></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/features/awarnessCampign.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<h4 class="card-title">Awarness Campagins</h4>
								<p class="card-text">
									Campagins to make people aware of things and stay out of fear.
								</p>
								<div class="d-flex justify-content-between raised_goal"  >
									<p>We conduct sessions and seminars to spread awarness about various topics like blood donation, organ donation and more.
									Also our members are active in sharing valid information from trusted sources on the ocasion of any catastrophic disaster.
									We also encourage people to contribute directly to the official fund raising campigns conducted by the state and central governments.</p>
									 
								</div>
								<div class="d-flex justify-content-between donation align-items-center" style="display:none !important;">
									<a href="#" class="primary_btn"></a>
									<p><span class="lnr lnr-heart"></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Cause section =================-->

	<!--================ Start Recent Event Area =================-->
	<section class="event_area section_gap_custom" >
		<div class="container" id="events">
			<div class="main_title">
				<h2>Events</h2>
				<p style="display:none;">	
					<a href="/events">View All</a>					   
				</p>
			</div>
		
			<div class="row">
					{% assign events = site.event | reverse | slice: 0, 4 %}
					{% for item in events %}
					<div class="col-lg-6">
						<div class="single_event">
							<div class="row align-items-center">
								<div class="col-lg-6 col-md-6">
									<figure>
										{% if item.image== '' or item.image == nil %}
										{%  assign imgPath ="img/banner/sparshamlogo.png" %}
										{% else %}
										{%  assign imgPath ="item.image" %}
										{% endif %}
										<img class="img-fluid w-100" src="{{ imgPath }}" alt="Image of {{ item.title }}">
										<div class="img-overlay"></div>
									</figure>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="content_wrapper">
										<h3 class="title">
											<a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
										</h3>
										<p>
											{{ item.subtitle }}
										</p>
										
										<a href="{{ item.url | prepend: site.baseurl }}" class="primary_btn">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
			</div>
		</div>
	</section>
	<!--================ End Recent Event Area =================-->

	<!--================Team Area =================-->
	<section class="team_area section_gap">
		<div class="container" id="team">
			<div class="main_title">
				<h2>Meet our team</h2>
				<p>Creepeth called face upon face yielding midst is after moveth </p>
			</div>
			<div class="row team_inner">
				<div class="col-lg-3 col-md-6">
					<div class="team_item">
						<div class="team_img" style='display:none;'>
							<img class="img-fluid" src="img/voluteer/v1.jpg" alt="">
						</div>
						<div class="team_name">
							<h4>Vishnu</h4>
							<p>President</p>
							<p class="mt-20">								
							</p>
							<div class="social">
								<a href="www.facebook.com/kbvishnu"><i class="fa fa-facebook"></i></a>
								<a style="display:none" href="" class="active"><i class="fa fa-twitter"></i></a>
								<a style="display:none" href="#"><i class="fa fa-instagram"></i></a>
								<a href="mailto:vishnu.balachandra@gmail.com"><i class="fa fa-envelope-o"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="team_item">
						<div class="team_img" style='display:none;'>
							<img class="img-fluid" src="img/voluteer/v2.jpg" alt="">
						</div>
						<div class="team_name">
							<h4>Prajeesh</h4>
							<p>Vice President</p>
							<p class="mt-20">
								
							</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a style="display:none" href="" class="active"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="team_item">
						<div class="team_img" style='display:none;'>
							<img class="img-fluid" src="img/voluteer/v3.jpg" alt="">
						</div>
						<div class="team_name">
							<h4>Sayuj</h4>
							<p>Secretary</p>
							<p class="mt-20">
								
							</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a style="display:none" href="" class="active"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="team_item">
						<div class="team_img" style='display:none;'>
							<img class="img-fluid" src="img/voluteer/v4.jpg" alt="">
						</div>
						<div class="team_name">
							<h4>Aneesh</h4>
							<p>Joint Secretary</p>
							<p class="mt-20">
								
							</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a style="display:none" href="" class="active"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row team_inner">
				<div class="col-lg-3 col-md-6">
					<div class="team_item">
						<div class="team_img" style='display:none;'>
							<img class="img-fluid" src="img/voluteer/v1.jpg" alt="">
						</div>
						<div class="team_name">
							<h4>Jassem</h4>
							<p>Treasurer</p>
							<p class="mt-20">
								
							</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a style="display:none" href="" class="active"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="team_item">
						<div class="team_img" style='display:none;'>
							<img class="img-fluid" src="img/voluteer/v2.jpg" alt="">
						</div>
						<div class="team_name">
							<h4>Shivilraj</h4>
							<p>Executive Committee Member</p>
							<p class="mt-20">
								
							</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a style="display:none" href="" class="active"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="team_item">
						<div class="team_img" style='display:none;'>
							<img class="img-fluid" src="img/voluteer/v3.jpg" alt="">
						</div>
						<div class="team_name">
							<h4>Vyasdev</h4>
							<p>Executive Committee Member</p>
							<p class="mt-20">
								
							</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a style="display:none" href="" class="active"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="team_item">
						<div class="team_img" style='display:none;'>
							<img class="img-fluid" src="img/voluteer/v4.jpg" alt="">
						</div>
						<div class="team_name">
							<h4>Nithun</h4>
							<p>Executive Committee Member</p>
							<p class="mt-20">
								
							</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a style="display:none" href="" class="active"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row team_inner">
				<div class="col-lg-3 col-md-6">
					<div class="team_item">
						<div class="team_img" style='display:none;'>
							<img class="img-fluid" src="img/voluteer/v1.jpg" alt="">
						</div>
						<div class="team_name">
							<h4>Sivashobh</h4>
							<p>Executive Committee Member</p>
							<p class="mt-20">
								
							</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a style="display:none" href="" class="active"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="team_item">
						<div class="team_img" style='display:none;'>
							<img class="img-fluid" src="img/voluteer/v2.jpg" alt="">
						</div>
						<div class="team_name">
							<h4>Shamith</h4>
							<p>Permanent Invitee</p>
							<p class="mt-20">
								
							</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a style="display:none" href="" class="active"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-envelope-o"></i></a>
							</div>
						</div>
					</div>
				</div>			 
				</div>				 
					
				
			
		</div>
	</section>
	<!--================End Team Area =================-->

	<!--================ Start CTA Area =================-->
	<div class="cta-area section_gap overlay">
		<div class="container" id="contribute">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<h1>Become a member</h1>
					<p>
						You are always welcome to be part of our team. We use online meetings to discuss the action items and implementation plan.
						Also we have an active whatsapp group for EC and for all members.
						There are three steps.
						<br />
						1. Click the 'Join Sparsham' button and fill your the form.
						<br />
						2. A sparsham member will reach out to you with an official sparsham membership form.
						<br />
						3. Fill the form and send the form back as pdf file. Wait for the EC approval.
						</p>
					<a href="#" style="display:none !important;" class="primary_btn yellow_btn rounded">Join Sparsham</a>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<br />
					</div>					
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<h1>Contribute in fund raising</h1>
						<p>
							Sparsham is a registered NGO and all our financial transactions were audited and submitted to Income Tax Department.
							We maintain a transparent information about how we distribute the funds in various categories to ensure a child journey to school.
							We leverages the capabilities of digital banking and mainly accept the funds via an online transaction which increases more transperancy.
							Our bank details.
						</p>
						<p>
							Our account details<br />
							Name : SPARSHAM CHARITABLE SOCIETY <br />
							Bank : State Bank of India,YMCA JUNCTION, ERNAKULAM <br />
							Account Type : Current Account <br />
							Account Number : 33908620453 <br />
							IFSC Code : SBIN0030473 <br />
							UPI : SPARSHAM@SBI <br />
						</p>	
					</div>
				</div>
			</div>
			</div>
	</div>
	
	<!--================ End CTA Area =================-->

	<!--================ Start Story Area =================-->
	<section class="section_gap story_area">
		<div class="container" id="blog">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="main_title">
						<h2>Blog</h2>
						<p style="display:none">	
							<a href="/blogs">View All</a>					   
						</p>
					</div>
				</div>
			</div>
			<div class="row">			 
				{% assign events = site.blog | reverse | slice: 0, 3 %}
				{% for item in events %}
				<div class="col-lg-4 col-md-6">
					<div class="single-story">
						<div class="story-thumb">
							
							{% if item.image== '' or item.image == nil %}
								{%  assign imgPath ="img/banner/sparshamlogo.png" %}
							{% else %}
								{%  assign imgPath ="item.image" %}
							{% endif %}
							
							<img class="img-fluid" src="{{ imgPath }}" data="{{ my_variable }}"
							alt="Image of {{ item.title }}"/>
						</div>
						<div class="story-details">
							<div class="story-meta">
								<h3 class="title">
									<a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
								</h3>
								<p>
									{{ item.subtitle }}
								</p>								
								
							</div>
							<a href="{{ item.url | prepend: site.baseurl }}" class="button" >Continue reading</a>							 
						</div>
					</div>
				</div>
				{% endfor %}
		</div>			 
		</div>
	</section>
	<!--================ End Story Area =================-->

	<!--================ Start Subscribe Area =================-->
	<div class="container" style="display:none">
		<div class="subscribe_area">
			<div class="row">
				<div class="col-lg-12">
					<div class="d-flex align-items-center">
						<h1 class="text-white">Do you have a question?</h1>
						<div id="mc_embed_signup">
							<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
								<div class="input-group d-flex flex-row">
									<input name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
									<button class="ml-10 primary_btn yellow_btn btn sub-btn rounded">SUBSCRIBE</button>		
								</div>									
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Subscribe Area =================-->
        
	<!--================ Start footer Area  =================-->	
	<footer>
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>
								To encourage the students from econmically challenging situations by sponsoring them or arranging facilities like food,study materials, 
dress and transportation to continue and complete their education, from lower primary to higher secondary.
							</p>
							
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6" style="display:none !important;">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title"> </h4>
							<ul class="list">
								 
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6" style="display:none !important;">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title"> </h6>
							<ul class="list instafeed d-flex flex-wrap">
								 
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p>
									Sayuj  - +91-80890 50051 (Kochi)
									<br />
									Jaseem - +91-99954 89827 (Kochi)
									<br />
									Nithun - +91-90360 44654 (Banglore)
									<br />
									Vishnu - +91-70122 78418 (Trivandrum)
									
								</p>
	
								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									<a href="mailto:info@sparsham.org">info@sparsham.org</a>
									 <br/>
									<a href="https://www.sparsham.com">www.sparsham.org</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">						
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Sparsham Charitable Society
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->
	
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="vendors/lightbox/simpleLightbox.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/countdown.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
	<script>
		$(document).ready(function(){
			$('#map_canvas > img:not([alt])').attr('alt', 'Alternative text');
		});
	</script>
</body>
</html>